.login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: white;
}

.login-left {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding-left: 10%;
  margin-top: 100px;
}

.logo {
  width: 60px;
  margin-bottom: 1rem;
}


.white-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.softedge-logo img {
  width: 100%;
  height: auto;
}

.softedge-logo {
  display: flex;
  align-items: left;
  height: 50px;
  width: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding-top: 10%;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.login-text {
  font-size: 1rem;
  color: #555;
  max-width: 85%; /* Limita el ancho máximo del texto */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.login-link {
  color: #9e72be;
  font-weight: bold;
  cursor: pointer;
}

.illustration {
  width: 225px;
  margin-top: auto;
  margin-left: 250px;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 40%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #2b2b2b;
  text-align: left;
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f1eafc;
  font-size: 1rem;
  color: #9E72BE;
}

.input:focus {
  outline: 2px solid #b192d1;
}

input::placeholder {
  font-weight: normal;
  color: #9E72BE;
}

.main-button {
  background-color: #9E72BE;
  color: white;
  padding: 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 8px 16px rgba(158, 114, 190, 0.2);
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #8d60b4;
}

#root {
  padding: 0rem;
  max-width: 100%;
}

.register-link {
  color: #8d60b4;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
  cursor: pointer;
}