strong {
  color: #9e72be;
}

h2 {
  color: #9e72be;
  margin-bottom: 5px;
}

h3 {
  color: #444;
}

p {
  color: #555;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border-style: solid;
  border-width: 1px; */
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pie-text {
  margin-left: 21.15%;
}

.task-chart {
  display: flex;
  background-color: #fdfdfd;
  flex-direction: column;
  width: 47.5%;
  height: 450px;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* border-style: solid;
  border-width: 1px;
  border-color: #9e72be;
   */
}

.task-chart:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.sprints-area {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sprint-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.sprint-info {
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sprint-info:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
